@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  overflow: hidden;
}

nav {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: start;
  align-items: center;
  padding:  16px 64px;
} 

nav p {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

.main-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 64px;
}

.img-container {
  display: flex;
  width: 100%;
  align-items: end;
  justify-content: center;
}

.img-container img {
  width: 70%;
}

.text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.text-container h1 {
  font-size: 56Px;
  font-weight:bolder;
  font-family: 'Space Mono', monospace;
  width: 80%;
}

.text-container p {
  width: 50%;
  margin-block: 76px;
  font-size: 18px;
}

.text-container button {
  border: none;
  width: 30%;
  padding: 16px;
  font-size: 12px;
  background-color: #333;
  color: #ececec;
  cursor: pointer;
  transition: .4s;
}

.text-container button:hover {
  background: #474646;
}

footer {
  width: 100%;
  text-align: center;
  padding: 5%;
  bottom: 10px;
  font-size: 12px;
  color: #72717186;
}

@media  screen and (max-width: 767px) {

* {
  overflow-y:scroll
}

nav {
  padding: 8px 20px;
  }

.main-section{
  display: grid;
  grid-template-columns: 1fr;
  padding: 16px;
  }

.text-container {
  display: flex;
  padding: 16px;
  width: 100%;
  }
.text-container h1 {
  width: 100%;
  font-size: 48px;
}

.text-container p {
  width: 90%;
  font-size: 20px;
}

.text-container button {
  width: 50%;
  padding: 18px;
}
  
}
